@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed&display=swap");

:root {
  --purple: #583fcf;
  --normal-btn: #b9b9b9;
  --success-btn: #4fd364;
  --cancel-btn: #f74c4a;
  --space-height: 16px;
}
@media only screen and (max-width: 600px) {
  body {
    /* disable selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
.space {
  pointer-events: none;
  background-color: hsla(39, 100%, 68%, 1);
  word-spacing: 1ch;
  margin-inline: 8px;
  cursor: pointer;
  display: inline-block;
  transform: translateY(17px);
  border: 1px solid gray;
  width: 15px;
  height: var(--space-height);
}

.space:hover {
  background-color: hsla(40, 24%, 43%, 0.8);
}
.seg:hover {
  background-color: yellow;
  cursor: pointer;
}
body {
  font-family: "Lato", "Trebuchet MS", Roboto, Helvetica, Arial, sans-serif;
}

.ProseMirror::selection {
  background-color: yellow;
}
.ProseMirror:focus {
  outline: none;
}
button:disabled {
  opacity: 0.3;
}
