@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Condensed&display=swap");

:root {
  --purple: #583fcf;
  --normal-btn: #b9b9b9;
  --success-btn: #4fd364;
  --cancel-btn: #f74c4a;
  --space-height: 16px;
}
.space {
  background-color: hsla(39, 100%, 68%, 1);
  word-spacing: 0.5ch;
  margin-inline: 3px;
  cursor: pointer;
  display: inline-block;
  height: var(--space-height);
  transform: translateY(17px);
  border: 1px solid gray;
  position: relative;
  width: 15px;
}
.space::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsla(39, 100%, 68%, 1);
}
.space:hover {
  background-color: hsla(40, 24%, 43%, 0.8);
}
.seg:hover {
  background-color: yellow;
  cursor: pointer;
}
body {
  font-family: "Lato", "Trebuchet MS", Roboto, Helvetica, Arial, sans-serif;
}

.ProseMirror::selection {
  background-color: yellow;
}
.ProseMirror:focus {
  outline: none;
}
button:disabled {
  opacity: 0.3;
}
